body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 870px;
}
h3, h4{
    color: #562EFF;
}
.card-text{
    font-size: 18px;
}
.card-body span{
    font-size: 14px;
}
.icon .fa-star{
    color: #FFC014;
    font-size: 14px;
}
@media only screen and (max-width:575.98px) {

    .container{
        width: 100%;
    }
    .top-blogs{
        text-align: center;
    }
    
}
@media only screen and (max-width:767.98px) {
    .player{
       text-align: center;
    }
    .player img{
        margin-bottom: 10px;
    }
     
}
@media only screen and (min-width:576px) and (max-width:767.98px) {
    .top-blogs{
        display: flex;
    }
     
}
@media only screen and (min-width:768px) and (max-width:991.98px) {
    .top-blogs{
        text-align: center;
    }
     .course{
        display: flex;
        justify-content: center;
        align-items: center;
     }
}

